+++
title = "누리네트워크"
linkTitle = "누리네트워크"

+++

{{< blocks/cover title="빠르고 안전한 누리 네트워크" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/join" >}}">
		가입신청 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">기존 브이피앤 방식이 아닌 최신 네트워크 기술로 다른곳보다 안정적이고 빠르게 이용가능합니다.<br>
		한번의 주소 입력으로 서버추가 가능합니다..<br>
		한국 홍콩 미국등 여러서버를 이용할수 있습니다.<br>
		별다른 프로그램 추가 없이 이용가능합니다.<br></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}<br>가격보기
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<h1>상품종류</h1>
일반계정 : 다운속도 2Mbps 비용 488위안/년, 288위안/6개월, 188위안/월 (한국서버) 동시접속불가<br> 
고급계정 : 다운속도 5Mbps 비용 1188위안/년, 788위안/6개월, 388위안/월 (한국/홍콩/미국 서버) 3기기 동시접속가능<br>
공유기상품 : 다운속도 5Mbps 비용 1200위안/년, 800위안/6개월(공유기무상제공)<br>
기업상품 : 다운속도 5Mbps 비용 2400위안/년 (공유기무상제공)<br>


{{% /blocks/lead %}}


{{< blocks/section color="blue" >}}
{{% blocks/feature icon="fab fa-apple" title="APPLE" %}} 


<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-windows" title="WINDOWS" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-android" title="ANDROID" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}



{{< /blocks/section >}}




{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-apple" title="APPLE" %}}


<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-windows" title="WINDOWS" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-android" title="ANDROID" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}



{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">누리네트워크위쳇 큐알코드</h1>
</div>

{{< /blocks/section >}}


