+++
title = "누리네트워크"
linkTitle = "누리네트워크"

+++

{{< blocks/cover title="빠르고 안전한 누리 네트워크" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/" >}}">
		가입신청 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">안전하고 빠르게 인터넷에 연결하세요!</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
비교불가! 가장 빠른 한국서버!
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-apple" title="APPLE" %}}


<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-windows" title="WINDOWS" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-android" title="ANDROID" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}



{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">누리네트워크!</h1>
</div>

{{< /blocks/section >}}


