+++
title = "누리네트워크"
linkTitle = "누리네트워크"

+++

{{< blocks/cover title="빠르고 안전한 누리 네트워크" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/join" >}}">
		가입신청 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">기존 VPN 방식이 아닌 저희만의 최신기술(IKEv2/V2ray)로 다른곳보다 안정적이고 빠르게 이용가능합니다.<br>
		상하이에 A/S센터 위치하여 신뢰할수 있습니다.<br>
		만리장성 방화벽도 저희만의 최신기술을 막을 수 없습니다.<br>
		한국 홍콩 미국등 여러서버를 이용할수 있습니다.<br>
		24/7 서버다운 없이 돌아갑니다.<br>
		이용방법에 따라 별도의 프로그램 추가 없이도 이용가능합니다.<br>
	</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}<br>가격보기
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<div class="table container" style="max-width: max-content;">
	<p class="lead mt-5">2020년 5월 런칭기념 할인가격! <br>
		30일 이내 서비스 불만족시 묻지도 따지지 않고 100% 환불해드립니다.
	</p>
<table style="max-width: max-content;">
	<thead>
	<tr>
	<th></th>
	<th>골드계정</th>
	<th>프리미엄계정</th>
	</tr>
	</thead>
	
	<tbody>
	<tr>
	<td>가격</td>
	<td>1년 이용시 40위엔/월</td>
	<td>1년 이용시 80위엔/월</td>
	</tr>
	
	<tr>
	<td>접속방식</td>
	<td>IKEv2/V2ray</td>
	<td>IKEv2/V2ray</td>
	</tr>

	<tr>
	<td>동시접속</td>
	<td>동시 6기기 접속가능</td>
	<td>동시 6기기 접속가능</td>
	</tr>
	
	<tr>
	<td>기본서버</td>
	<td>홍콩/무제한</td>
	<td>홍콩/무제한</td>
	</tr>

	<tr>
	<td>프리미엄 서버</td>
	<td>한국KT,SKT/미국</td>
	<td>한국KT,SKT/미국</td>
	</tr>

	<tr>
	<td>프리미엄 서버 트래픽</td>
	<td>50기가/월</td>
	<td>150기가/월</td>
	</tr>
	
	
	<tr>
	<td>프리미엄 서버 속도</td>
	<td>20 Mps</td>
	<td>20 Mps</td>
	</tr>
	
	<tr>
	<td>사용자설정</td>
	<td>불가</td>
	<td>가능</td>
	</tr>
	</tbody>
	</table>
</div>

{{% /blocks/lead %}}


{{< blocks/section color="blue" >}}
{{% blocks/feature icon="fab fa-apple" title="APPLE" %}} 


<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-windows" title="WINDOWS" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-android" title="ANDROID" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	설치방법 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}



{{< /blocks/section >}}






{{< blocks/section >}}

<div class="col-12 text-center">
<h1 class="text-center">누리네트워크 위쳇 큐알코드</h1>
서비스 운영 시간 : 09:00 ~ 18:00 공휴일 제외<br><br>
<p><img src="/img/wechatqr2.jpeg" alt="">
</p>
</div>
{{< /blocks/section >}}


