+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="The V2RED that always works!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Tutorial <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://doc.v2red.com/ko">
		한국어로 보기 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Stay secure online – no matter what</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
This tutorial is under process, we are tring to setup asap. thanks you!
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-apple" title="APPLE" %}}


<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Tutorial <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-windows" title="WINDOWS" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Tutorial <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-android" title="ANDROID" %}}

<i class="fas fa-mobile-alt"></i>  <i class="fas fa-laptop"></i>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Tutorial <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

{{% /blocks/feature %}}



{{< /blocks/section >}}


{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">V2RED is amazingly fast!</h1>
</div>

{{< /blocks/section >}}
